body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  #uv-index {
    font-weight: bold;
  }
  
  #advice {
    color: #d9534f;
  }
  
  .header-label{
    font-size: 20px;
    color: green;
  }